.side {
    max-width: 28%;
}

.main {
    max-width: 72%;
}
img{
    height: 5rem;
}
.main{
    padding: 1rem;
}
.main .introduce .title{
    width: 8rem;
}
.main .project-introduction h3{
    margin-bottom: 1rem;
}
.main .project-introduction .time{
    padding: 0 1rem;
}
.main .project-introduction .row,.title-wrapper{
    margin-bottom: 1rem;
}
.banner-vertical{
    margin-top: 0;
    padding: 1rem 1.5rem;
}
.side{
    padding-top: 1rem;
}
.title-wrapper > .split-line{
    margin: .8rem auto;
}
.info-wrapper {
    margin-top: 0;
}