.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

ul, ol {
    list-style: none;
}

#myCanvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
}

.actions {
    position: fixed;
    top: 0;
    left: 20px;
}

.actions > svg {
    background: transparent;
    padding: 10px 0;
    margin: 0 10px;
    height: 1.5em;
    width: 1.5em;
    color: #70818e;
    cursor: pointer;
    transition: all 0.3s;
}

.actions > svg.active {
    color: red;
    transform: scale(1.2);
}

.colors {
    position: fixed;
    top: 60px;
    left: 20px;
}

.colors > li {
    width: 18px;
    height: 18px;
    border-radius: 50px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    margin: 0 5px;
    float: left;
    transition: all 0.3s;
}

.colors > li.active {
    transform: scale(1.2);
}

.size {
    position: fixed;
    top: 90px;
    left: 20px;
}

.size > li {
    width: 30px;
    height: 0;
    border: solid black;
    margin: 8px 10px;
    float: left;
    transition: all 0.3s;
    cursor: pointer;
}

.size > .thin {
    border-top: 3px;
}

.size > li.active {
    transform: scale(1.2);
}